/** Colors **/
:root{
    --blue: #021a22;
    --green:#a4ff4a;
    --gray:#d3d2d3;
    --red:#cc2936;
    --black:#131313;
}
/** Main styles**/
.hide{
    display: none;
}
h1{
    margin: 0;
    font-size: 3em;
}
h6{
    margin: 1% auto;
}
/** Login page **/  
#main, #menu-header, .hidden{
    display: hidden;
}
#sign-in-button,#page-splash{
    margin-top: 25%;
}
body{
    background-color: var(--blue);
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
.color{
    color: var(--green);
    font-weight: 700;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
    }
}
/**Header**/
header nav{
    color: var(--green);
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 5% auto;
    width: 90%;
}
.btn-google-auth{
    background-color: #eeeeee;
}
.btn-facebook-auth{
    background-color: #3b5998;
}
.btn-log button{
    width: 70%;
    margin: 2.5% 0;
}
.img-logo{
    margin-top: 2.5%;
    width: 30%;
}
.nav-btn{
    font-size: 1.8em;
}
/**  Login Page **/
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login h3{
    font-size: 1.5em;
}
.login h6{
    margin-top: 10%;
}
.login img{
    width: 50%;
}
/**Menu **/
.main-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    position: relative;
}
.menu-cont{
    background-color: rgba(255,255,255,0.1);
    width: 70%;
    text-align: center;
    padding: 5%;
    margin: 5% auto;
    border: 1px solid var(--red);
    border-radius: 15px;
    cursor: pointer;
}
.menu-cont p{
    margin: 0;
    text-transform: uppercase;
    color: var(--green);
    font-weight: 700;
}
.sign-out{
    margin-top: 50%;
    background-color: #BA0E01;
}
/** Game Schedule **/
.schedule{
    background-color: rgba(255,255,255,0.1);
    border: 1.5px solid var(--red);
    border-radius: 15px;
    margin: 3% 0;
}
.icons{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    width: 80%;
}
.icon-map, .fa-comments{
    color:#BA0E01;
    font-size: 20px;
}
.fa-comments{
    display: none;
}
.time{
    align-content: center;
}
.icon-clock{
    margin-top: 5%;
}
.time p{
    padding-left: 5%;
    font-weight: 300
}
/** Details **/
.game-details{
    width: 95%;
    margin: 5% auto;
}
.details{ 
    border: 1.5px solid var(--red);
    border-bottom: 1px;
    border-radius: 15px 15px 0 0;
    margin: 0% auto;
    width: 95%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2%;
    background-color: rgba(255,255,255,0.1);
}
.details p{
    margin: 2px;
    font-weight: 300;
}
.match-details{
    align-items: center;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
}
.match-details img{
    margin: 5% 0;
    width: 40%;
}
.match-details span{
    font-size: 16px;
}
.location{
    border: 1.5px solid var(--red);
    border-radius: 0 0 15px 15px;
    align-items: center;
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 0% auto;
    padding-bottom: 2.5%;
    background-color: rgba(255,255,255,0.1);
}
.location iframe{
    padding: 1%;
}
.location p{
    text-align: center;
    margin: 2%;
    font-weight: 300;
}
/** Chat **/
.chat-cont{
    margin: 0 auto;
    width: 90%;
}
.chat{
    color: var(--green);
    padding: 2%;
    width: 25%;
    display: flex;
    align-items: center;
    margin: 2% 0;
    cursor: pointer;
}
.new-post{
    background-color: var(--red);
    border: 0;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    vertical-align: middle;
}
.post{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.new-post-container{
    width: 100%;
}
.title-post{
    text-align: center;
}
.title-post h2{
    font-size: 2.5em;
}
.content-post{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
form{
    width: 90%;
}
.post-input{
    width: 100%;
    background-color: transparent;
    border: 2px solid var(--gray);
    height: 40px;
    border-radius: 10px;
    color: #fff;
    padding: 2%;
}
.btn-add-post{
    width: 100%;
    border: none;
    height: 40px;
    font-weight: bold;
    border-radius: 10px;
    background-color: var(--red);
}

.filter-match-one{
    width: 50%;
    border: none;
    height: 40px;
    font-weight: bold;
    border-radius: 10px;
    background-color: var(--red);
    margin: 5% auto;
}
.min-height{
    min-height: 150px;
}
.title{
    text-align: center;
    font-size: 1.5em;
    margin: 5% auto;
}
.mdl-card{
    background-color: #021a22;
    padding:2.5%;
    margin: 0 auto;
}
.text{
    margin: 2.5%;
}
.mdl-textfield__label{
    color:#fff; 
}
/*** Querys ***/
@media only screen and (min-width: 300px) and (orientation: landscape){
    header nav, .game-details{
        margin: 1% auto;
    }
    body{
        height: 100vh;
        overflow: auto;
    }
    .schedule{
        margin: 10px 0;
        padding-top: 2%;
        width: 100%;
    }
    .marb{
        margin-bottom: 3%;
    }
    .details h6{
        margin: 0;
    }
    .hide{
        display: none;
    }
    .fa-comments{
        display: block;
    }
    .details{
        padding: 0;
    }
    iframe{
        width: 90%;
    }
    .location{
        height: 51vh;
    }
}